body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  width: 100%;
  padding: 15px 0;
  background-color: #333;
}

header .headline{
    line-height: 100px;
    float: left;
    font-size: 40px;
    margin-left: 100px;
}

.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
    font-weight: bold;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  font-size:24px;
  margin: 0 20px;
}

h1 {
  margin: 0;
  font-size:30px
}

main {
  padding: 20px;
}

article {
  width: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%
}

h2 {
  margin-top: 0;
  font-size:28px
}

h3 {
  margin-top: 0;
  font-size:26px
}

p {
  font-size:24px
}

footer {
  color: #888;
}

.hidden {
  display: none;
}

.read-more-button {
  font-size: 22px; /* ボタンのテキストのフォントサイズを大きくする */
  padding: 5px 10px; /* ボタンのパディングを増やしてサイズを大きくする */
}

.main-footer{
    width: 100%;
    height: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

ul.footer-menu li {
  display: inline;
  font-size:24px
}

.link-color{
    color: #fff;
    text-decoration: none;
}

.btn-scroll{
  position:fixed;
  bottom:60px;
  right:30px;
  cursor:pointer;
  width:100px;
  height:100px;
  border-radius:50%;
  font-size:40px;
  font-weight: bold;
}
