  <link rel="shortcut icon" href="img/favicon.ico"/>
  <link rel="apple-touch-icon" href="img/YProg.png" sizes="180x180">
  <link rel="icon" type="image/png" href="img/YProg.png" sizes="192x192">
  <link rel="canonical" href="https://yprogbest.github.io">
  <link rel="stylesheet" href="styles.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DJT7GH63E6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-DJT7GH63E6');
  </script>
  <script defer src="script.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9943550345669002"
     crossorigin="anonymous"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js"></script>
  <script defer src="https://apis.google.com/js/platform.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
